body {
  background-image: url("images/background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  color: yellow;
  text-shadow: 2px 2px rgb(0, 0, 0);
}

.containers {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.name-container {
  height: 50vh;
  border: 5px solid red;
  border-right: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;
}

.buttons {
  height: 50vh;
  border: 5px solid red;
  border-left: none;
  border-right: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cost-container {
  height: 50vh;
  border: 5px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: none;
  padding-left: 20px;
  padding-right: 20px;
  align-items: left;
}

.increase-container {
  height: 50vh;
  border: 5px solid red;
  border-left: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  align-items: left;
}

.big-ring {
  display: flex;
  width: 200px;
  height: auto;
  justify-content: space-between;
  position: relative;
  left: 0;
  right: 0;
  margin-inline: auto;
}

.info {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

#ringCount {
  padding-right: 25px;
}

p#ringCount {
  padding-left: 10px;
}

#rps {
  padding-left: 10px;
}

p#rps {
  padding-left: 10px;
}
