body {
  background-image: url("images/background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  color: yellow;
  text-shadow: 2px 2px rgb(0, 0, 0);
}

.buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 50%;
}

.containers {
  display: flex;
  align-self: flex-end;
  justify-content: space-evenly;
  position: relative;
  align-items: flex-start;
}

.big-ring {
  display: flex;

  padding: 10px;
  justify-content: space-between;
  position: relative;
  left: 0;
  right: 0;
  margin-inline: auto;
}

.info {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}
